@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
    --background: 164 46% 99%;
    --foreground: 164 5% 10%;
    --card: 164 46% 99%;
    --card-foreground: 164 5% 15%;
    --popover: 164 46% 99%;
    --popover-foreground: 164 95% 10%;
    --primary: 164 46% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 164 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 126 30% 95%;
    --muted-foreground: 164 5% 40%;
    --accent: 126 30% 90%;
    --accent-foreground: 164 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 164 5% 99%;
    --border: 164 30% 82%;
    --input: 164 30% 50%;
    --ring: 164 46% 47%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 164 46% 10%;
    --foreground: 164 5% 99%;
    --card: 164 46% 10%;
    --card-foreground: 164 5% 99%;
    --popover: 164 46% 5%;
    --popover-foreground: 164 5% 99%;
    --primary: 164 46% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 164 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 126 30% 25%;
    --muted-foreground: 164 5% 65%;
    --accent: 126 30% 25%;
    --accent-foreground: 164 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 164 5% 99%;
    --border: 164 30% 50%;
    --input: 164 30% 50%;
    --ring: 164 46% 47%;
    --radius: 0.5rem;
  }
  